* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

@mixin block {
  display: block;
  height: 100px;
  width: 100px;
  margin-right: 1px;
  margin-bottom: 1px;
  line-height: 100px;
  text-align: center;
  background-color: #eee;
  border: 1px solid black;
  transition: top 0.5s, background-color 0.5s;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 710px;
  margin: 0 auto;
  padding-top: 50px;

  div {
    display: none;
  }

  $days: 28, 29, 30, 31;

  @each $lastday in $days {
    &-#{$lastday} div:nth-child(-n + #{$lastday}) {
      @include block;
    }
  }

  @for $i from 1 through 31 {
    div:nth-child(#{$i})::after {
      content: "#{$i}";
    }
  }

  div:hover {
    background-color: pink;
    cursor: pointer;
    transform: translateY(-20px);
  }
}

$week: "mon" 0, "tue" 1, "wed" 2, "thu" 3, "fri" 4, "sat" 5, "sun" 6;
@each $day, $dayvalue in $week {
  .calendar-#{$day} div:first-child {
    margin-left: #{$dayvalue + $dayvalue * 100px};
  }
}
